.container {
    margin: 50px auto;
    max-width: 900px;
}

.menu {
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    align-items: center;
}

.menu-convert {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: rgb(112, 112, 255);
}

.menu-current {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: rgb(112, 112, 255);
}

.active {
    text-decoration: underline;
    color: blue;
}


